#header{width: 450px; height: 970px; position: fixed;}
#contants{width: 1450px;}
#footer{width: 1450px; height: 650px;}
.container{width: 960px; margin: auto;}
.contant_1{height: 950px; padding-top: 100px;}
.contant_2{height: 500px;}
.contant_3{height: 3200px;}



